<a href="https://colab.research.google.com/github/1dhiman/100days-ml/blob/master/2019/itertools_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `groupby`

In [0]:
from itertools import groupby
import string
import random

In [0]:
x = random.choices(string.ascii_lowercase, k=20)
x = sorted(x)

In [18]:
x

['d',
 'e',
 'f',
 'g',
 'j',
 'k',
 'k',
 'k',
 'k',
 'l',
 'o',
 'o',
 'p',
 'u',
 'v',
 'x',
 'x',
 'y',
 'y',
 'z']

group consecutive items together that are of the same occurance

that is why need to **sort first**

In [19]:
groupby(x)

In [20]:
for key, group in (groupby(x)):
  print(f"key: {key}, group: {list(group)}")

key: d, group: ['d']
key: e, group: ['e']
key: f, group: ['f']
key: g, group: ['g']
key: j, group: ['j']
key: k, group: ['k', 'k', 'k', 'k']
key: l, group: ['l']
key: o, group: ['o', 'o']
key: p, group: ['p']
key: u, group: ['u']
key: v, group: ['v']
key: x, group: ['x', 'x']
key: y, group: ['y', 'y']
key: z, group: ['z']

#### tuples

In [26]:
data = [
    ("11013331", "KAT"),
    ("9085267", "NOT"),
    ("5238761", "ETH"),
    ("5349618", "ETH"),
    ("11788544", "NOT"),
    ("962142", "ETH"),
    ("7795297", "ETH"),
]

data = sorted(data, key= lambda x: x[1])
data

[('5238761', 'ETH'),
 ('5349618', 'ETH'),
 ('962142', 'ETH'),
 ('7795297', 'ETH'),
 ('11013331', 'KAT'),
 ('9085267', 'NOT'),
 ('11788544', 'NOT')]

In [27]:
for key, group in (groupby(data, key=lambda x: x[1])):
  print(f"key: {key}, group: {list(group)} \n")

key: ETH, group: [('5238761', 'ETH'), ('5349618', 'ETH'), ('962142', 'ETH'), ('7795297', 'ETH')]

key: KAT, group: [('11013331', 'KAT')]

key: NOT, group: [('9085267', 'NOT'), ('11788544', 'NOT')]

groupby odds and evens

In [0]:
def check_even(n):
  if n%2 == 0:
    return "even"
  else:
    return "odd"
  
def grouper(iterable):
  iterable = sorted(iterable, key = check_even)
  print(iterable)
  grouped = groupby(iterable, check_even)
  for key, group in grouped:
    print(f"key: {key}, group: {list(group)}")

In [31]:
import random
x = random.sample(list(range(1, 50)), 3)
x

[13, 48, 21]

In [32]:
grouper(x)

[48, 13, 21]
key: even, group: [48]
key: odd, group: [13, 21]